.cart-item {
  width: 100%;
  padding: 12px 8px;
  border-radius: 4px;
  display: flex;
  background-color: #c2c2c2;
  .img {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .body {
    display: flex;
    flex-direction: column;

    .name {
      font-size: 16px;
    }

    .price {
      font-size: 14px;
      color: #333;
    }
  }

  .btn {
    padding: 8px;
    border: 1px red solid;
    border-radius: 4px;
  }
  
}